Technical Requirements: 
	System should be a web application which runs in a web server. Software backend should be written in PHP. The reason is that IT division of ACCIMT is most familiar with PHP. Further the division has asked to use YII PHP framework for the back-end. Web application should work in Desktop PCs using Internet Explorer/ Chrome / Firefox. 

Performance Requirements:
	System should be 24/7 responsive. 

Usability requirements:
	System should contain an online or physical support system. Tips and helps for each function. Tool tips for the buttons are expected. There is no special graphic required, but interfaces should be simple as possible.

Reliability Requirements:
	In case of a system down, all data entered should be secured. Therefore databases should be backed up frequently. Since the ACCIMT has an IT division it is possible to handle a system down by them self.

Security Requirements:
	User privileges should be managed. There will be four levels of users. Engineers, Divisional Heads, DDG (Deputy Director General) and System Administrator. So each levels should not be overlapped. There are public project reports as well as internal reports, therefore it should be managed. Passwords should be encrypted while saving in the database, so it will not be visible to the system admin.
