html,
body {
    height: 100%;
}

.table-bordered,.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1;
    padding: 4px;
    border-color: #4BA1B9;
}


.table-striped > tbody > tr:nth-of-type(odd)
{
	background-color: #B4E0EC;
}


.report-content
{
}
.report-content-content{

	padding: 15px;
   border: 1px solid #B4E0EC;
}

.report-content-title
{
	background-color: #B4E0EC;
	padding: 4px;
   border: 1px solid #B4E0EC;
   
}

.dropdown
{
  float: left;
}





/*report titles in the project page*/
.panel{
}

.panel-title
{
  display:inline;
  padding: 5px;

}
.panel-title > a
{
}


/* btn  */
.btn{

  line-height: 1;
  border-radius: 0px;
  border-width: 0px;
}

/* button print */
.btn-print
{
    color: white;
    background-color: green;
}
.btn-print:hover
{
    color: white;
    background-color: #02BD02;
}

/* go to view page link everywhere*/
.btn-view
{
  color:white;

  background-color: #0098C1;
}

.btn-view:hover
{
  color:white;

  background-color: #00C9FF;
}

.navbar-nav > li > a {margin-top:0px !important; margin-bottom:0px !important;

padding-top:7px !important; padding-bottom:4px !important;
}

@media (min-width: 1200px)
{
.navbar {
  max-height: 10px;
  min-height:32px !important;
}
@media (max-width: 768px)
{

  .navbar {
        float: left !important;
  }
}
.form-control
{
  height: 25px;
  border-radius: 0px;
  border-color: #B4E0EC;
}

.navbar-nav > li > a
{
  border-left: 1px solid #3070E0;
}

.navbar-nav > li > a:hover
{
  background-color: #3070E0;
  border-left: 1px solid #3070E0;
}
/*css by Shanika*/

.headerImg{

    width:100%;

}


.navbar {min-height:32px !important}
.navbar-brand{
  padding-top: 7px;
}

.navbar{
    position: relative!important;

}

.footer {
    height: 60px;
    background-color: #042B6C;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color: white;
}

/*end css by Shanika*/
