html,
body {
    height: 100%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1;
    padding: 4px;
}

.btn {
   
    border: none;
    text-decoration: underline;
}
.table-striped > tbody > tr:nth-of-type(odd)
{
	background-color: #B4E0EC;
}


.report-content
{
	padding: 15px;
}
.report-content-content{

	padding: 15px;
   border: 1px solid #ddd;
}

.report-content-title
{
	background-color: #B4E0EC;
	padding: 4px;
   border: 1px solid #ddd;
}
