html,
body {
    height: 100%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1;
    padding: 4px;
}


.table-striped > tbody > tr:nth-of-type(odd)
{
	background-color: #B4E0EC;
}


.report-content
{
}
.report-content-content{

	padding: 15px;
   border: 1px solid #ddd;
}

.report-content-title
{
	background-color: #B4E0EC;
	padding: 4px;
   border: 1px solid #ddd;
   
}

.dropdown
{
  float: left;
}


/* go to print page link everywhere*/
.print_link
{
  color:green;
  margin-left: 0px;
  text-indent: 50px;
}
/* go to print page link everywhere*/
.view_link
{
  color:blue;
  margin-left: 0px;
  text-indent: 50px;
}

/*report titles in the project page*/
.panel{
}

.panel-title
{
  display:inline;
  padding: 5px;

}
.panel-title > a
{
}


/* btn  */
.btn{

  line-height: 1.2;
  border-radius: 0px;
}